/* ==========GERAL============= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

:root {
  --background: hsl(0, 0%, 0%);
  --border: hsl(240, 6%, 17%);
  --border-menu-mobile: hsl(240, 7%, 68%);

  --button: #8257e5;

  --text-color: #ffffff;
  --text-color-menu-mobile: #e0e0e5;

  --nav-height: 5.8rem;
  font-size: 62.5%;
}

/* ==CUSTOM-SCROLLBAR== */

::-webkit-scrollbar-thumb {
  background: var(--button);
  border-radius: 1rem;
  width: 2rem;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background: transparent;
}

body,
html {
  width: 100%;
  height: 100%;
  background: var(--background);

  font-family: "Manrope", sans-serif;
}

.wrapper {
  width: min(43.3rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
}

ul li {
  padding: 1.8rem 0rem 1.4rem;

  color: var(--text-color-menu-mobile);

  transition: ease-in-out border-left 0.3s;
}

main {
  margin-top: 18.4rem;

  text-align: center;
  color: var(--text-color);
}

a {
  display: inline-block;

  color: var(--text-color);
}

/* ==========NAVIGATION============= */

nav {
  height: var(--nav-height);
  width: 100vw;
  margin-top: 3.7rem;

  display: flex;

  position: fixed;
  top: 0;
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: transparent;

  cursor: pointer;
}

nav .logoDesktop {
  display: none;
}

nav .button {
  display: none;
}

nav .menu,
nav .closeMenu {
  position: fixed;
}

/* ==========MENU-EXPANDED============= */
body.menuExpanded {
  overflow: hidden;
}

.menu,
.closeMenu,
body.menuExpanded .openMenu {
  visibility: hidden;
  opacity: 0;
}

body.menuExpanded .menu,
body.menuExpanded .closeMenu {
  visibility: visible;
  opacity: 1;
}

body.menuExpanded .logo,
body.menuExpanded button {
  position: relative;
  z-index: 100;
}

.menu {
  transform: translateX(100%);
}

body.menuExpanded .menu {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: var(--background);

  position: fixed;
  top: 0;
  left: 0;

  transition: transform 0.8s;
  transform: translateX(0%);
}

body.menuExpanded nav {
  margin-top: 3rem;
  margin-bottom: 2.6rem;
  padding-inline: 2rem;

  position: fixed;

  transition: 0.8s;
}

body.menuExpanded ul {
  margin-top: 10rem;
}

body.menuExpanded ul li {
  border-top: 0.1rem solid var(--border);
  border-bottom: 0.1rem solid var(--border);
}

body.menuExpanded ul li:hover {
  border-left: 0.5rem solid var(--button);
}

body.menuExpanded ul li::before {
  content: "";
  width: 0%;
  height: 1px;
  background: var(--button);

  position: relative;
  top: -2rem;
  display: block;

  transition: width 1s;
}

body.menuExpanded ul li:hover::before {
  width: 100%;
}

body.menuExpanded ul li::after {
  content: "";
  width: 0%;
  height: 1px;
  background: var(--button);

  position: relative;
  bottom: -1.4rem;
  display: block;

  transition: width 1s;
}

body.menuExpanded ul li:hover::after {
  width: 100%;
  padding-inline: 0.8rem;
  opacity: 1;
}

body.menuExpanded ul a {
  margin-left: 3rem;

  opacity: 0.7;

  color: var(--text-color-menu-mobile);
  font-size: 1.8rem;
}

body.menuExpanded ul a:hover {
  opacity: 1;
}

/* ==========MAIN=CONTENT============= */

main header h1 {
  max-width: 30rem;

  margin-inline: auto;

  font-weight: 600;
  font-size: 3rem;
  line-height: 4.1rem;
  text-align: center;
  letter-spacing: 0.02em;
}

main .content h2 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.8rem;
  letter-spacing: -0.03em;
}

main .content .titleEffect {
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.8rem;
  letter-spacing: -0.03em;
  color: var(--background);

  text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
    -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);

  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear infinite both;
}

main .button {
  width: 17.4rem;
  margin: 0 auto;
  margin-top: 8.8rem;
  margin-bottom: 9.8rem;
  padding: 1rem 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border: 0.1rem solid var(--button);
  border-radius: 0.4rem;

  transition: background 1.9s;
}

main .button:hover {
  background: var(--button);

  box-shadow: inset 0px 0px 10px black;

  filter: brightness(1);
}

main img {
  width: 100%;
 
  transform: translateY(1rem);
 
  animation: glow 6.8s alternate-reverse infinite both;
}

.content .bg {
  width: 100%;

  position: absolute;
  bottom: -32.6rem;
  left: 0;
  z-index: 0;
}

/* ==========ANIMATIONS============= */

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  30.5% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
  }
  50% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
  }
  55% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  60% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 30 var(--button), 0.1rem -0.1rem 30 var(--button),
      -0.1rem 0.1rem 30 var(--button), -0.1rem 0.1rem 30 var(--button);
  }
  75% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  85% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  100% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  30.5% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
  }
  50% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
  }
  55% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  60% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 30 var(--button), 0.1rem -0.1rem 30 var(--button),
      -0.1rem 0.1rem 30 var(--button), -0.1rem 0.1rem 30 var(--button);
  }
  75% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  85% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
  100% {
    opacity: 1;
    text-shadow: 0.1rem 0.1rem 0 var(--button), 0.1rem -0.1rem 0 var(--button),
      -0.1rem 0.1rem 0 var(--button), -0.1rem 0.1rem 0 var(--button);
    filter: drop-shadow(0 -1rem 9.1rem var(--button));
  }
}

@keyframes glow {
  20% {
    filter: drop-shadow(0 -1rem 8rem var(--button));
  }

  45% {
    filter: drop-shadow(0 -1rem 4.5rem var(--button));
  }

  85% {
    filter: drop-shadow(0 -1rem 8.1rem var(--button));
  }
}

@keyframes opacity {
  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.7;
  }
}

/* ==========RESPONSIVE============= */

@media (min-width: 1024px) {
  /* ==CUSTOM-SCROLLBAR== */

  ::-webkit-scrollbar-thumb {
    width: 2rem;
    background: var(--button);
   
    border-radius: 1rem;
  }

  ::-webkit-scrollbar {
    width: 0.7rem;
    background: transparent;
  }

  /* ==========GERAL============= */
  nav#navigation {
    display: flex;
  }

  body {
    overflow: auto;
  }

  .wrapper {
    width: min(100rem, 100%);
    margin-inline: auto;
    padding-inline: 0;
  }

  /* ==========NAVIGATION============= */
  /* ==RESET== */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: inherit;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background: initial;
    filter: initial;
  }

  nav#navigation .menu {
    width: 73%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav#navigation .logo {
    display: none;
  }

  nav#navigation .closeMenu,
  nav#navigation .openMenu {
    display: none;
  }

  nav#navigation .menu ul li a {
    color: var(--text-color);
  }

  nav#navigation .menu ul {
    display: flex;
    gap: 3.2rem;
   
    text-align: center;
  }

  nav#navigation .menu ul li::after {
    content: "";
    width: 0%;
    height: 1px;
    background: hsl(258, 73%, 62%);

    position: relative;
    bottom: -2rem;
    display: block;

    transition: width 1.3s;
  }

  nav#navigation .menu ul li:hover::after {
    width: 100%;
  }

  nav#navigation .button {
    padding: 1.1rem 3.8rem;
    border: 0.1rem solid var(--button);
    border-radius: 0.4rem;

    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: background 1.2s;
  }

  nav#navigation .button:hover {
    background: var(--button);

    box-shadow: inset 0px 0px 3px black;

    color: var(--text-color-menu-mobile);

    filter: brightness(1);
  }

  /* ==========MAIN============= */

  .ball-left {
    background: url(../assets/Blur\ Left.png) no-repeat top/contain;
    width: 32.1rem;
    height: 32.1rem;

    position: fixed;
    left: -1rem;
    bottom: -1rem;

    animation: opacity 4s infinite normal both;
  }

  .ball-right {
    background: url(../assets/Blur\ Right.png) no-repeat top/contain;
    width: 32.1rem;
    height: 32.1rem;

    position: fixed;
    top: 0rem;
    right: -1rem;

    animation: opacity 4s infinite alternate both;
  }

  main {
    margin-top: 14rem;
  }

  main header .button {
    display: none;
  }

  main h1 {
    display: none;
  }

  main .content h2 {
    font-weight: 700;
    font-size: 8rem;
    line-height: 10.9rem;
    letter-spacing: -0.03em;
  }

  main .content .titleEffect {
    font-weight: 700;
    font-size: 8rem;
    line-height: 10.9rem;
    letter-spacing: -0.03em;
  }
}
