/* ==========GERAL============= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

:root {
  --backgrond: hsl(0, 0%, 0%);
  --border: hsl(240, 6%, 17%);
  --border-menu-mobile: hsl(240, 7%, 68%);

  --button: hsl(258, 73%, 62%);

  --text-color: #ffffff;
  --text-color-menu-mobile: #e0e0e5;

  --nav-height: 3.7rem;
  font-size: 62.5%;
}

body,
html {
  width: 100%;
  height: 100%;
  background: var(--backgrond);
  font-family: "Manrope", sans-serif;
}

.wrapper {
  width: min(43.3rem, 100%);
  margin: 0 auto;
  padding-inline: 4.2rem;
}

ul li {
  color: var(--text-color-menu-mobile);
  padding: 1.8rem 0rem 1.4rem;
  transition: ease-in-out border-left 0.2s;
}

/* ==========NAVIGATION============= */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  background: var(--backgrond);
  cursor: pointer;
}

/* ==========MENU-EXPANDED============= */
body.menuExpanded {
  overflow: hidden;
}

.menu,
.closeMenu,
body.menuExpanded .openMenu {
  opacity: 0;
  visibility: hidden;
}

body.menuExpanded .menu,
body.menuExpanded .closeMenu {
  opacity: 1;
  visibility: visible;
}

body.menuExpanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--backgrond);

  width: 100vw;
  height: 100vh;
}

body.menuExpanded nav {
  position: relative;
}

body.menuExpanded ul li::before {
  content: "";
  position: relative;
  width: 0%;
  height: 2px;
  top: -1.8rem;
  background: var(--button);
  display: block;

  transition: width 0.5s;
}

body.menuExpanded ul li:hover::before {
  width: 100%;
}

body.menuExpanded ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--button);

  position: relative;
  bottom: -1.4rem;
  left: -0.5rem;

  display: block;

  transition: width 0.5s;
}

body.menuExpanded ul li:hover::after {
  width: 100%;
  opacity: 1;
  padding-inline: 0.8rem;
}

body.menuExpanded ul a {
  color: var(--text-color-menu-mobile);
  opacity: 0.7;
  font-size: 1.8rem;
  margin-left: 3rem;
}

body.menuExpanded ul a:hover {
  opacity: 1;
}

body.menuExpanded ul li:hover {
  border-left: 0.5rem solid var(--button);
}

/* 
body.menuExpanded ul li {
  border-top: 0.1rem solid var(--border-menu-mobile);
}

body.menuExpanded ul li:nth-child(5) {
  border-bottom: 0.1rem solid var(--border-menu-mobile);
} */
